$sigblue:   rgb(59, 59, 94);
$sigbutton:  lightblue;

html{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    }

@mixin display {
    display: flex;
    align-items: center;
}

.header {
    @include display();
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    // background-color: rgb(201, 198, 198);
    // background-image: linear-gradient(to right, rgb(173, 5, 5) , rgb(201, 198, 198));
    background-size: cover;
        image{
            position: absolute;
        }
        .logo{
            @include display();
            box-sizing: border-box;
            flex-direction: row;
            justify-content: flex-start;
            padding: 0px 0px 0px 40px;
        }
        h1 {
            color: $sigblue;
            position: relative;
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: italic;
            text-shadow: 2px 2px;
        }
        h2 {
            color: black;
            padding-top: 40px;
            margin-right: 40px;
            font-size: 40px;
            margin-bottom: 0px;
            margin-top: 0px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .menu {
            float: right;
            @include display();
            width: 100%;
            height: 20px;
            padding: 0px 40px;
            justify-content: flex-end;
            background-color: transparent;
            cursor: pointer;
            
            p {
                display: inline-block;
                padding: 0px 10px;
                margin: 0px;
                font-size: 16px;
                
                #menuItem{
                    text-decoration: none;
                    color: $sigblue;
                }

            }
        }

        @media only screen and (max-width: 767px) {
            h1 {
                @include display();
                color: $sigblue;
            }
            h2 {
                color:black;
                text-align: center;
                padding-top: 10px;
            }

            .menu {
                @include display();
                height: 25%;
                flex-direction: column;
                justify-content: space-around;
                p {
                    padding: 5px;
                    padding-bottom: 20px;
                }
            }
            .logo{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
        }
}
.auth {
    @include display();
    flex-direction: row;
    justify-content: flex-end;
    background: url("./images/adventure.jpg") no-repeat;
    background-position: 0%;
    background-size: cover;
    margin: 0px;
    min-height: 100%;
    // background-position-x: 50%;
}

.auth-btn-div{
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    a{
        text-decoration: none;
        color: white;
        font-size: 24px;
    }
    
    #auth-options1{
        height: 150px;
        width: 300px;
        margin-top: 20px;
        border-radius: 5px;
        background: url("./images/asphalt.jpg") no-repeat;
        background-position: 90%;
        opacity: .8;

    }
    #auth-options2{
        height: 150px;
        width: 300px;
        margin-top: 20px;
        border-radius: 5px;
        background: url("./images/audi.jpg") no-repeat;
        background-position: 80%;
        opacity: .8;
    }

    #auth-options1:hover, #auth-options2:hover{
        background: white;
        cursor: pointer;
        
        #auth-options{
            color: black;
            font-size: 28px;
        }
    }
}
.login {
    @include display();
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(59, 59, 94, 0.507);
    color: white;
    padding: 10px 10px;
    border-radius: 10%;
    width: 300px;
    margin: 40px 20px 10px 0px;

    .signIn{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    div {
        padding-top: 20px;
    }
    input{
        width: 260px;
        height: 30px;
        margin-top: 20px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 20px;
        box-shadow: 4px rgb(201, 198, 198);
    }
    button {
        width: 60px;
        height: 30px;
        color: white; 
        background-color:$sigbutton;
        border: onset transparent 2px;
        font-weight: bold;
        margin-top: 20px;
    }
    .signIn{
        font-size: 30px;
    }

    @media only screen and (max-width: 767px) {
           
        h1 {
            @include display();
            color: $sigblue;
            flex-direction: row;
            justify-content: flex-start;
            position: center;
            top: 0;
        }
        h2 {
            color:black;
            text-align: center;
            padding-top: 70px;
        }

        .menu {
            @include display();
            flex-direction: column;
            justify-content: space-around;
            p {
                padding: 5px;
                padding-bottom: 20px;
            }
        }
      }
}
.options{
    @include display();
    flex-direction: row;
    justify-content: space-around;

        .option{
            @include display();
            width: 300px;
            height: 220px;
            background-color: $sigblue;
            border-radius: 10%;
            margin: 80px;
            border: transparent;
            flex-direction: column;
            justify-content: space-around;
            font-weight: bold;
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding: 10px;
            box-shadow: 2px 2px rgb(201, 198, 198);
        }
        @media only screen and (max-width: 767px) {
            @include display();
            flex-direction: column;
            justify-content: space-between;

        }
}

.registerdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // .registerimg{
    //     background-image: url("/src/images/action.jpg");
    //     background-size: cover;
    //     width: 100%;
    //     height: 100%;
    // }
}

.register-guest{
    button{
        margin: 0px 20px;
        border: white 2px solid;
        color: white; 
        background-color: transparent; 
        width: 100%;
        height: 100%;
        min-height: 40px;
        object-fit: contain;
        }
    #register-guest-bttn{
    text-decoration: none;
    color: white;
    }
}
.register {
    @extend .login;
        padding: 10px 60px;
        
        div {
            padding-top: 10px;
        }
        h1{
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        input{
            width: 340px;
            height: 30px;
            margin-top: 10px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 20px;
            box-shadow: 4px rgb(201, 198, 198);
        }
        button {
            width: 60px;
            height: 30px;
            color: white; 
            background-color:$sigbutton;
            border: onset transparent 2px;
            font-weight: bold;
            margin-top: 20px;
        }
        .signIn{
            font-size: 30px;
        }
    
        @media only screen and (max-width: 767px) {
               
            h1 {
                @include display();
                color: $sigblue;
                flex-direction: row;
                justify-content: flex-start;
                position: center;
                top: 0;
            }
            h2 {
                color:black;
                text-align: center;
                padding-top: 70px;
            }
       
    }
}

.actionform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("/src/images/action.jpg");
    background-size: cover;
    .form {
        @extend .login;
        justify-content: space-between;
        border: solid black 1px;
        padding: 10px 60px;
        background-color: rgba(59, 59, 94, 0.856);
        margin: 20px 20px;
        
        div {
            padding-top: 10px;
            
        }
        h1{
            font-size: 30px;
        }
        input{
            width: 340px;
            height: 30px;
            margin-top: 10px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 20px;
            box-shadow: 4px rgb(201, 198, 198);
        }
        button {
            width: 100px;
            height: 40px;
            color: white; 
            background-color:$sigbutton;
            border: onset transparent 2px;
            font-weight: bold;
            margin-top: 20px;
            margin-left: 20px;
        }

        @media only screen and (max-width: 767px) {
            
            h1 {
                @include display();
                color: $sigblue;
                flex-direction: row;
                justify-content: flex-start;
                position: center;
                top: 0;
            }
            h2 {
                color:black;
                text-align: center;
                padding-top: 70px;
            }
    
        }
    }
}

.edit{
    @extend .login;
        justify-content: space-between;
        padding: 10px 60px;
        
        div {
            padding-top: 10px;
        }
        h1{
            font-size: 30px;
        }
        input{
            width: 340px;
            height: 30px;
            margin-top: 10px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 20px;
            box-shadow: 4px rgb(201, 198, 198);
        }
        button {
            width: 160px;
            height: 40px;
            color: white; 
            background-color: $sigbutton;
            border: onset transparent 2px;
            font-weight: bold;
            margin-top: 20px;
            margin-left: 20px;
        }
        .signIn{
            font-size: 30px;
            padding-bottom: 20px;
        }
    
        @media only screen and (max-width: 767px) {
               
            h1 {
                @include display();
                color: $sigblue;
                flex-direction: row;
                justify-content: flex-start;
                position: center;
                top: 0;
            }
            h2 {
                color:black;
                text-align: center;
                padding-top: 70px;
            }
       
      }
    }

.dashboard{
    @include display();
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;
        color: black;
        
        div {
            padding-top: 20px;
            font-family: helvetica;
            font-weight: bold;
        }
        h1{
            font-size: 30px;
            font-family: helvetica;
        }
        .profileGrid{
            @include display();
            flex-direction: row;
        }
        .vehicleProfile{
            border: $sigblue solid 1px;
            border-radius: 5%;
            background-color: rgba(179, 193, 197, 0.712);
            padding-left: 20px;
            height: 200px;
            width: 400px;
        }
        button{
            width: 100px;
            height: 40px;
            color: white; 
            background-color:$sigbutton;
            border: onset transparent 2px;
            font-weight: bold;
            margin-top: 20px;
            margin-left: 20px;
        }

        @media only screen and (max-width: 767px) {
            
            h1 {
                @include display();
                flex-direction: row;
                justify-content: flex-start;
                position: center;
                top: 0;
            }
            h2 {
                color:black;
                text-align: center;
                padding-top: 70px;
            }
            .vehicleProfile{
                border: $sigblue solid 1px;
                border-radius: 5%;
                background-color: rgba(179, 193, 197, 0.712);
                padding-left: 20px;
                min-height: 200px;
                min-width: 200px;
                width: fit-content;
                text-align: center;
        }
    }
}

.profileVehicles{
    @include display();
    flex-direction: column;
    padding: 10px 20px;
    color: black;
    background-color: white;
    background-size: cover;
    min-height: 800px;
    .car {
        display: inline-table;
        grid-column-gap: 50px;
        justify-content: center;
        text-align: center;
        border: $sigblue outset 1px;
        border-radius: 5px;
        box-shadow: 2px 2px rgb(201, 198, 198);
        padding: 20px 20px 10px 10px;
        height: 80px;
        width: 120px;
        margin: 10px;
        background-color: rgba(59, 59, 94, 0.507);
        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    }
    div {
        padding-top: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h1{
        font-size: 30px;
        font-family: helvetica;
    }
    button {
        width: 160px;
        height: 40px;
        color: white; 
        background-color:$sigbutton;
        border: onset transparent 2px;
        font-weight: bold;
        margin-top: 20px;
        margin-left: 20px;
    }

    @media only screen and (max-width: 767px) {
           
        h1 {
            @include display();
            flex-direction: row;
            justify-content: flex-start;
            position: center;
            top: 0;
        }
        h2 {
            color:black;
            text-align: center;
            padding-top: 70px;
        }
  }
}

.reviewGrid{
    @include display();
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    color: black;
    width: fit-content;
    background-color: white;
    .review {
        @include display();
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: lightgray outset 4px;
        box-shadow: 1px 1px rgb(201, 198, 198);
        padding-right: 20px;
        min-width: 100%;

        .thumbnail{
            width: 800px;
            min-height: 600px;
        }
    }
    div {
        padding-top: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h1{
        font-size: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    @media only screen and (max-width: 767px) {
           
        h1 {
            @include display();
            flex-direction: row;
            justify-content: flex-start;
            position: center;
            top: 0;
        }
        h2 {
            color:black;
            text-align: center;
            padding-top: 70px;
        }
        .review{
            .thumbnail{
                min-width: 200px;
                min-height: 200px;
            }
        }
  }
    #footer-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        #footer-menu-item{
            text-decoration: none;
        }
    }
    // #footer{
    //     display: flex; 
    //     background-color: lightgrey; 
    //     flex-direction: row; 
    //     justify-content: space-around; 
    //     margin-top: 20px;
    //     min-height: 100%;
    // }
}