.App {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("./dlowBackground.png");
    background-size: cover;
}

body {
    background: whitesmoke;
    color: black;
}

.header {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 198, 198);
    background-image: linear-gradient(to right, red , rgb(201, 198, 198));
    background-size: cover;
    
        .logo{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        
        }
        h1 {
            color: rgb(55, 55, 109);
            position: relative;
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: italic;
            text-shadow: 2px 2px;
        }
        h2 {
            color: black;
            padding-top: 40px;
            margin-right: 40px;
            font-size: 40px;
            margin-bottom: 0px;
            margin-top: 0px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .menu {
            width: 100%;
            height: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: rgb(55, 55, 109);
            cursor: pointer;
            p {
                padding: 0px 40px;
                margin: 0px;
                border-right: solid lightblue 1px; 
                border-left: solid lightblue 1px;
            }
        }

        @media only screen and (max-width: 767px) {
           
            h1 {
                color: rgb(55, 55, 109);
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                position: center;
                top: 0;
            }
            h2 {
                color:black;
                text-align: center;
                padding-top: 70px;
            }

            .menu {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                p {
                    padding: 5px;
                    padding-bottom: 20px;
                }
            }
          }
}
.auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(11, 11, 83);
    color: white;
    border: solid black 1px;
    box-shadow: 2px 2px rgb(201, 198, 198);
    padding: 10px 20px;
    border-radius: 10%;
    width: 300px;
    margin-top: 40px;
    margin-bottom: 10px;

    .signIn{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    div {
        padding-top: 20px;
    }
    input{
        width: 260px;
        height: 30px;
        margin-top: 20px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 20px;
        box-shadow: 4px rgb(201, 198, 198);
    }
    button {
        width: 60px;
        height: 30px;
        color: white; 
        background-color: rgba(29, 29, 104, 0.774);
        font-weight: bold;
        margin-top: 20px;
    }
    .signIn{
        font-size: 30px;
        padding-bottom: 20px;
    }

    @media only screen and (max-width: 767px) {
           
        h1 {
            color: rgb(55, 55, 109);
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: center;
            top: 0;
        }
        h2 {
            color:black;
            text-align: center;
            padding-top: 70px;
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            p {
                padding: 5px;
                padding-bottom: 20px;
            }
        }
      }
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

        .option{
            width: 300px;
            height: 220px;
            background-color: rgb(55, 55, 109);
            border-radius: 10%;
            margin: 80px;
            border: transparent;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-weight: bold;
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            padding: 10px;
            box-shadow: 2px 2px rgb(201, 198, 198);
        }
}

.register {
  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: solid black 1px;
        box-shadow: 2px 2px rgb(201, 198, 198);
        padding: 10px 20px;
        border-radius: 10%;
        background-color: rgb(11, 11, 83);
        color: white;
        
        div {
            padding-top: 20px;
        }
        h1{
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        input{
            width: 340px;
            height: 30px;
            margin-top: 10px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 20px;
            box-shadow: 4px rgb(201, 198, 198);
        }
        button {
            width: 60px;
            height: 30px;
            color: white; 
            background-color: rgba(29, 29, 104, 0.774);
            font-weight: bold;
            margin-top: 20px;
        }
        .signIn{
            font-size: 30px;
            padding-bottom: 20px;
        }
    
        @media only screen and (max-width: 767px) {
               
            h1 {
                color: rgb(55, 55, 109);
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                position: center;
                top: 0;
            }
            h2 {
                color:black;
                text-align: center;
                padding-top: 70px;
            }
       
    }
}

.form {
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid black 1px;
    padding: 10px 20px;
    border-radius: 10%;
    box-shadow: 2px 2px rgb(201, 198, 198);
    background-color: rgb(11, 11, 83);
    color: white;
    
    div {
        padding-top: 20px;
    }
    h1{
        font-size: 30px;
    }
    input{
        width: 340px;
        height: 30px;
        margin-top: 10px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 20px;
        box-shadow: 4px rgb(201, 198, 198);
    }
    button {
        width: 100px;
        height: 40px;
        color: white; 
        background-color: rgba(29, 29, 104, 0.774);
        font-weight: bold;
        margin-top: 20px;
        margin-left: 20px;
    }
    .signIn{
        font-size: 30px;
        padding-bottom: 20px;
    }

    @media only screen and (max-width: 767px) {
           
        h1 {
            color: rgb(55, 55, 109);
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: center;
            top: 0;
        }
        h2 {
            color:black;
            text-align: center;
            padding-top: 70px;
        }
   
  }
}

.edit{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: solid black 1px;
        box-shadow: 2px 2px rgb(201, 198, 198);
        padding: 10px 20px;
        border-radius: 10%;
        background-color: rgb(11, 11, 83);
        color: white;
        
        div {
            padding-top: 20px;
        }
        h1{
            font-size: 30px;
        }
        input{
            width: 340px;
            height: 30px;
            margin-top: 10px;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            font-size: 20px;
            box-shadow: 4px rgb(201, 198, 198);
        }
        button {
            width: 160px;
            height: 40px;
            color: white; 
            background-color: rgba(29, 29, 104, 0.774);
            font-weight: bold;
            margin-top: 20px;
            margin-left: 20px;
        }
        .signIn{
            font-size: 30px;
            padding-bottom: 20px;
        }
    
        @media only screen and (max-width: 767px) {
               
            h1 {
                color: rgb(55, 55, 109);
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                position: center;
                top: 0;
            }
            h2 {
                color:black;
                text-align: center;
                padding-top: 70px;
            }
       
      }
    }

